@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 98vh;
    font-size: xx-large;
}

.child {
    text-align: center;
    margin-top: 15px;
}

.projects {
    display: grid;
    gap: 25px;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.project-card {
    border: 1px solid black;
    grid-column: span 1;
    padding: 25px 25px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
}

.project-card:hover {
    background-color: black;
    color: white;
    transition: .3s;
}

.project-img {
    width: 128px;
    margin: auto;
    display: block;
}

.project-title {
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
}
.project-desc {
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
}

@media (max-width: 992px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}